*,
 ::after,
 ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

main {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h3,
h5 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

small {
    font-size: 80%
}

img {
    vertical-align: middle;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-5,
.col-lg-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 992px) {
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
}

.min-vh-100 {
    min-height: 100vh!important
}

.px-0 {
    padding-right: 0!important
}

.px-0 {
    padding-left: 0!important
}


/*  */

.bg {
    background: url("../images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.myrow {
    display: flex;
    position: relative;
    align-items: center;
}

.social {
    display: flex;
    position: absolute;
     right: 3%;
    top: 5%;
    z-index: 3;
}

.social a {
    margin-right: 15px;
}

.social img {
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
}

.social img:hover {
    transform: scale(1.2);
}

.mycol-left {
    display: flex;
    color: #fff;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mycol-left .blue {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 410px;
    width: 120%;
}

.mycol-left .detail {
    display: flex;
    width: 100%;
    z-index: 2;
    flex-direction: column;
    text-align: end;
    position: relative;
    align-items: center;
}

.mycol-left .align {
    position: relative;
}

.mycol-left p {
    font-size: 12px;
    margin: 0;
}

.mycol-left h3 {
    font-size: 55px;
    line-height: 65px !important;
}

.mybtn {
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    color: #fff;
    z-index: 2;
    padding: 7px 30px;
    background: linear-gradient(12.7deg, #E600BB -14.32%, #E600BB -14.19%, #B311FF 114.32%);
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 0.3s;
}

.mybtn:hover {
    transform: scale(0.9);
}

.glasre {
    position: absolute;
    width: 60%;
    top: -45%;
    right: 0;
}

.mycol-right .boxx {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-right: 11%;
    padding-left: 12%;
    padding-bottom: 0;
}

.mycol-right::before {
    content: '';
    background-color: #282B2F;
    top: 24%;
    right: 0;
    z-index: 0;
    bottom: 13%;
    width: 95%;
    position: absolute;
    z-index: 1;
    border-radius: 7px 0px 0px 7px;
}

.mycol-right .cardd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0px;
    z-index: 2;
}

.mycol-right .c1 {
    padding-top: 25px;
}

.mycol-right .c2 {
    margin-top: -35px;
}

.mycol-right .c3 {
    padding-top: 130px;
}

.mycol-right .c1::before {
    content: '';
    background-color: rgb(112 112 112);
    top: -110px;
    bottom: 136px;
    width: 1.2px;
    position: absolute;
}

.mycol-right .c2::before {
    content: '';
    background-color: rgb(112 112 112);
    top: 92px;
    bottom: 36px;
    width: 0.5px;
    position: absolute;
}

.mycol-right .c3::before {
    content: '';
    background-color: rgb(112 112 112);
    top: 0px;
    bottom: 80px;
    width: 1.2px;
    position: absolute;
}

.mycol-right .c4::before {
    content: '';
    background-color: rgb(112 112 112);
    top: 165px;
    bottom: 0px;
    width: 1.2px;
    position: absolute;
    z-index: 2;
}

.mycol-right .text1 {
    margin: 5px 15px 0px 15px;
    font-size: 16px;
    width: 600;
    color: #5683F0;
}

.mycol-right .title {
    font-size: 28px;
    margin: 0px 15px 5px 15px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.2;
}

.mycol-right .text2 {
    font-size: 12px;
    margin: 0px 15px 0px 15px;
    color: #97A0AA;
}

.mycol-right .akbox {
    background: linear-gradient(142.24deg, #475A8A 0%, rgba(40, 43, 47, 0) 31.88%);
}

@media (max-width: 1199px) {
    .mycol-right .boxx {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-right: 6.9%;
        padding-left: 10%;
    }
}

@media (max-width: 991.98px) {
    .glasre {
        width: 48%;
        top: -40%;
    }
    .mycol-left .blue {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 410px;
        width: 100%;
    }
    .mycol-right .boxx {
        padding-right: 7%;
        padding-left: 12%;
    }
}

@media (max-width: 768px) {
    .mycol-right .boxx {
        padding-right: 4%;
        padding-left: 8%;
    }
}

@media (max-width: 555px) {
    .social {
        top: 3%;
        right: 5%;
    }
    .mycol-left .blue {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 348px;
        width: 100%;
    }
    .mycol-right .boxx {
        padding-right: 20%;
        padding-left: 20%;
        flex-flow: column;
        margin-bottom: 35%;
    }
    .mycol-right .c1,
    .mycol-right .c2,
    .mycol-right .c3 {
        margin-top: 60px;
        padding: 0;
        border-left: 1px solid rgb(112 112 112);
        border-right: 1px solid rgb(112 112 112);
    }
    .mycol-right .c1::before,
    .mycol-right .c2::before,
    .mycol-right .c3::before,
    .mycol-right .c4::before {
        display: none;
    }
    .mycol-right::before {
        bottom: 305px;
        top: 185px;
    }
}
